/* global css */
button {
  background-color: rgba(229, 84, 115, 1);
  color: rgba(255, 255, 255, 1);
  border: 0px;
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
p {
  color: rgba(39, 39, 39, 0.6);
  /* font-size: large ; */
}

/* ///////////////////////////////// */

header {
  background-color: rgba(229, 84, 115, 0.1);
  display: grid;
  /* justify-content: space-around; */
  grid-template-columns: 50% 50%;
  align-items: center;
}
.text-container {
  margin-left: 200px;
  
}
#header-title{
  font-size: x-large;
}
.text-container h1 {
  /* margin-right: 100px; */
  color: rgba(39, 39, 39, 1); 
}
.text-container p{
  /* font-size: large; */
}
.img-container {
  padding-top: 50px;
  margin-right: 200px;
}
.img-container img {
  width: 75%;
  height: 75%;
  float: right;
}

/* //////////////////////////////////////// */

.feature-text {
  text-align: center;
  margin: 50px 150px;
}
.feature-text p {
  padding: 0px 150px;
}
.feature-img-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  /* margin-right: 0px; */
  margin: 0px 150px;
}
.feature-div {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 0px;
}
.img-div {
  background-color: red;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  padding: 20px 20px 0px;
  margin: 20px 20px 0px;
  text-align: center;
}
.feature-div h3 {
  text-decoration: underline;
}
#img-div1 {
  background-color: rgba(167, 33, 98, 0.15);
}
#img-div2 {
  background-color: rgba(5, 151, 160, 0.15);
}
#img-div3 {
  background-color: rgba(71, 125, 17, 0.15);
}
#feature-img1 {
  width: 100%;
  height: 350px;
  margin-top: 50px;
}
#feature-img2 {
  width: 100%;
  height: 350px;
  margin-top: 50px;
}
#feature-img3 {
  width: 100%;
  height: 350px;
  margin-top: 50px;
}

/* //////////////////////////////////////////////////// */

.support-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(39, 39, 39, 0.05);
  margin: 50px 150px;
  padding: 50px;
}

/* //////////////////////////////////////////////////////////// */

.hot-deal-section {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.05);
}
.hot-deal-text {
  text-align: center;
  margin-left: 150px;

  padding: 50px 50px 50px 0px;
}
#off {
  color: rgba(229, 84, 115, 1);
}
.hot-deal-text p {
  color: rgba(39, 39, 39, 0.6);
}
.hot-deal-img-div {
  margin-right: 150px;
  padding: 50px 0px 50px 50px;
}
.hot-deal-img-div img {
  width: 50%;
}

/* /////////////////////////////////////// */

.social-section {
  margin: 50px 150px;
}
.insta-div {
  text-align: center;
}
.insta-div p {
  padding: 0px 250px;
}
.insta-img-collection {
  display: flex;
  justify-content: space-around;
}
.insta-img-div {
  padding: 0px 10px;
}
.insta-img-collection img {
  width: 100%;
}

/* //////////////////////////////////////// */

.latest-section {
  background-image: url("../images/buttonBanner.png");
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: cover;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin: 50px 10px;
  padding: 100px;
}
.latest-section p {
  padding-bottom: 25px;
}

.latest-section input {
  border: 0px;
  border-radius: 5px;
  padding: 10px 50px 10px 15px;
  margin-bottom: 10px;
}

/* /////////////////////////////////////////////////// */

footer {
  background-color: rgba(17, 16, 16, 1);
  align-items: center;
  text-align: center;
  padding: 100px 150px;
}
footer h1 {
  color: rgba(255, 255, 255, 1);
  font-size: xx-large;
}
#flower {
  color: rgba(229, 84, 115, 1);
}
footer p {
  color: rgba(255, 255, 255, 0.9);
}
footer small {
  color: rgba(255, 255, 255, 0.4);
}
